<nav
  class="navbar navbar-dark text-light fst-italic"
  style="background-color: #9cc4e4"
>
  <div class="container-fluid d-flex justify-content-between">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#menu"
      aria-controls="menu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="d-flex align-items-center"><%=title%></h1>
    <div class="d-flex flex-column align-items-center">
      <p class="m-0 text-center">Student</p>
      <a href="/" class="btn btn-sm btn-outline-danger">Logout</a>
    </div>
  </div>
</nav>
<div class="collapse" id="menu" style="background-color: #9cc4e4">
  <div class="text-center fst-italic p-2 d-flex justify-content-center">
    <a
      class="btn btn-light dashboard"
      style="color: #9cc4e4"
      href="/student/dashboard/?token=<%=token  %>"
    >
      Dashboard
    </a>

    <a
      class="btn btn-light dashboard"
      style="color: #9cc4e4"
      href="/student/info/?token=<%=token  %>"
    >
      Info
    </a>

    <div class="dropdown">
      <a
        class="btn btn-light dropdown-toggle dashboard"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="color: #9cc4e4"
      >
        Notes
      </a>

      <ul class="dropdown-menu">
        <li>
          <a
            class="dropdown-item"
            href="/student/reportCard/?token=<%=token  %>"
            style="color: #9cc4e4"
            >Report card</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            href="/student/simulateNotes/?token=<%=token  %>"
            style="color: #9cc4e4"
            >Simulate notes</a
          >
        </li>
      </ul>
    </div>

    <a
      href="http://localhost:3000/student/myMessages/?token=<%=token  %>"
      class="btn btn-light dashboard"
      style="color: #9cc4e4"
      >Messages</a
    >
  </div>
</div>
