<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/links') %><%- include('partials/style') %>

    <title>My Messages</title>
  </head>
  <body class="vh-100 fst-italic">
    <%- include('partials/navBarTeacher', {title:"My Messages"}) %>

    <main
      class="mt-3 shadow rounded text-light container d-flex flex-column align-items-center justify-content-center"
      style="background-color: #9cc4e4"
    >
      <div class="d-flex mt-2 w-50 justify-content-center">
        <h2>Received messages</h2>
      </div>
      <% message.forEach(received=>{ %>

      <div
        class="card w-50 border-light mb-3 shadow"
        style="background-color: #9cc4e4"
      >
        <div class="card-header border-light">
          Create by: <%=received.createBy %>
        </div>
        <div class="card-body"><%=received.message %></div>
        <div
          class="card-footer border-light text-end d-flex justify-content-end"
        >
          <button class="btn p-0" onclick="removeMessage('<%=received._id%>')">
            <span class="material-symbols-outlined"> delete_forever </span>
          </button>
          <div class="ms-auto">Message To: You</div>
        </div>
      </div>
      <% }) %>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <script>
      function removeMessage(id) {
        fetch("/teacher/deleteMessage/" + id, { method: "DELETE" }).then(
          (res) => {
            if (res.status == 200) {
              res.text().then((messageID) => {
                console.log(messageID);

                let message = document.getElementById(messageID);
                if (message) {
                  message.remove();
                }
                location.reload();
              });
            } else {
              res.json().then((err) => {
                console.log(err.message);
              });
            }
          }
        );
      }
    </script>
  </body>
</html>
