<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/links') %> <%- include('partials/style') %>

    <title>Simulate Notes</title>
  </head>
  <body>
    <%- include('partials/navBarStudent',{title:"Simulate Notes"}) %> <%-
    include('partials/footer') %>

    <main
      class="shadow rounded d-flex flex-column align-items-center w-25 container p-3"
      style="background-color: #9cc4e4; transform: translateY(50%)"
      id="calc"
    >
      <input type="number" class="form-control mb-2 w-25" max="10" />
      <input type="number" class="form-control mb-2 w-25" required />
      <input type="number " class="form-control mb-2 w-25" required />
      <h5></h5>
      <h5></h5>
      <div class="mb-2">
        <button class="btn btn-light" style="color: #9cc4e4" onclick="calc()">
          Calc
        </button>
        <a href="/student/dashboard/?token=<%=token  %>" class="btn btn-danger"
          >Return</a
        >
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>

    <script>
      function calc() {
        let box = document.querySelectorAll("#calc");
        box.forEach((items) => {
          let note1 = items.children[0];
          let note2 = items.children[1];
          let note3 = items.children[2];
          let mean = items.children[3];
          let status = items.children[4];
          console.log(note1.value);
          console.log(note2.value);
          console.log(Number(note3.value));
          let calc =
            (Number(note1.value) + Number(note2.value) + Number(note3.value)) /
            3;

          let roundedNumber = calc.toFixed(1);
          console.log(roundedNumber);

          if (
            Number(note1.value) > 10 ||
            Number(note2.value) > 10 ||
            Number(note3.value) > 10
          ) {
            mean.innerText = "* Note over limit";
            mean.classList.add("text-danger");
            mean.classList.remove("text-warning", "text-success");
            status.innerText = "";
            status.classList.remove(
              "text-warning",
              "text-success",
              "text-danger"
            );
          } else {
            if ((note1.value, note2.value, note3.value)) {
              if (roundedNumber >= 6) {
                mean.innerText = "média: " + roundedNumber;
                mean.classList.add("text-success");
                mean.classList.remove("text-danger", "text-warning");
                status.innerText = "Aprovado";
                status.classList.add("text-success");
                status.classList.remove("text-danger", "text-warning");
              }
              if (roundedNumber < 6) {
                mean.innerText = "média: " + roundedNumber;
                mean.classList.add("text-warning");
                mean.classList.remove("text-danger", "text-success");
                status.innerText = "Recuperação";
                status.classList.add("text-warning");
                status.classList.remove("text-danger", "text-success");
              }
              if (roundedNumber < 4) {
                mean.innerText = "média: " + roundedNumber;
                mean.classList.add("text-danger");
                mean.classList.remove("text-warning", "text-success");
                status.innerText = "Reprovado";
                status.classList.add("text-danger");
                status.classList.remove("text-warning", "text-success");
              }
            } else {
              mean.innerText = "* Unfilled note";
              mean.classList.add("text-danger");
              mean.classList.remove("text-warning", "text-success");
              status.innerText = "";
              status.classList.remove(
                "text-warning",
                "text-success",
                "text-danger"
              );
            }
          }
        });
      }
    </script>
  </body>
</html>
